/* common section section here */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --bg-color:#fff;
    --font-color:#333;
    --nav-background:#316879;
    --color-1:#f47a60;
    --color-2:#7fe7dc;
}
body{
    overflow-x: hidden;
    /* background-color: #316879; */
}
/* common section ends here */



/* home page section starts here */

/* home page section endss here */




/* login page section starts here */



#registerPage{
    /* background-color: yellow; */
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.495);
    /* background-color: antiquewhite; */
    /* background-color:#efefef */
}


#registerPage > .top{
    height: 40px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444444;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#registerPage > .bottom{
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* border: 2px solid orange; */
}
#registerPage > .bottom > .right{
    flex: 55%;
    background-color: white;
}

#registerPage > .bottom > .right > form{
    width: inherit;
    /* border-radius: 10px; */
    /* width: 500px; */
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    color: #ffae00;
    background-color:white;
    border: 3px solid #efefef;
    
}
#registerPage > .bottom > .right > form > div {
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: start;  
    align-items: start;
    border-radius: 5px;
}
#registerPage > .bottom > .right > form > div > input{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: start;
  
}
::placeholder{
    color: black !important;
}

#registerPage > .bottom > .left{
    flex-basis: 45%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #efefef;
    /* box-shadow: #efefef; */
}

#registerPage > .marquee{
    width: 500px;
    height: 40px;
    background-color: #444444;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

#registerPage > .marquee > marquee > p{
    /* width: inherit;
    display: flex;
    justify-content: center;
    align-items: center; */
    margin-bottom: 35px;
    text-align: center;
    font-size: 30px;
}



/* login page section ends here */



/* login page section starts here */

/* login page section ends here */


/* Register page section starts here */

#loginPage{
    /* background-color: yellow; */
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.495);
    /* background-color: antiquewhite; */
    /* background-color:#efefef */
}

#loginPage > .top{
    height: 40px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444444;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#loginPage > .bottom{
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* border: 2px solid orange; */
}
#loginPage > .bottom > .right{
    flex: 55%;
    background-color: white;
}

#loginPage > .bottom > .right > form{
    width: inherit;
    /* border-radius: 10px; */
    /* width: 500px; */
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    color: #ffae00;
    background-color:white;
    border: 3px solid #efefef;
    
}
#loginPage > .bottom > .right > form > div {
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: start;  
    align-items: start;
    border-radius: 5px;
}
#loginPage > .bottom > .right > form > div > input{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: start;
  
}
::placeholder{
    color: black !important;
}

#loginPage > .bottom > .left{
    flex-basis: 45%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #efefef;
    /* box-shadow: #efefef; */
}

#loginPage > .marquee{
    width: 500px;
    height: 40px;
    background-color: #444444;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

#loginPage > .marquee > marquee > p{
    /* width: inherit;
    display: flex;
    justify-content: center;
    align-items: center; */
    margin-bottom: 35px;
    text-align: center;
    font-size: 30px;
}





/* #registerPage{
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.495);
}

#loginPage > .top{
    height: 40px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444444;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#registerPage > article{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#registerPage > article > form{
    border-radius: 10px;
    width: 350px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    color: white;
    background-color:black;
    border:1px solid #ffae00;;
}
#registerPage > article > form > div {
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: start;  
    align-items: start;
    border-radius: 5px;
}
#registerPage > article > form > div > input{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    display: flex;
    justify-content: start;
  /* text-decoration-color: white; */
  /* background-color:  #111;
  border: 1px solid #ffae00;
}
::placeholder{
    color: white;
    padding: 10px;
}

#registerPage > article > form > div > button{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    background-color: #efefef;
    color: black;
    transform: translateX(30px);
    border: 1px solid #ffae00;
} */ 

/* Regsiter page section ends here */





/* offers page section starts here */

/* offers page section ends here */



/* bookig page section starts here */

/* booking page section ends here */



/* bus UI page section starts here */

/* bus UI page section ends here */




/* Seat Matrix page section starts here */

/* Seat Matrix page section ends here */




/* payment page section starts here */

/* payment page section ends here */



/* conformation page starts here */

/* conformation page section ends here */



/* status page starts here */

/* starts page ends here */




/* admin page starts here */

/* admin page ends here */